.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #f9f9f9;
}

.samplestyle {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.webp') no-repeat;
}

/* .minesweeperboard {
width: 252px;
height: 313.5px;
background-color: blue; */

.boardstyle {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  background-color: #c6c6c6;
}

.boardflame {
  width: 282px;
  height: 282px;
  background-color: #c6c6c6;
  border-top: 6px solid gray;
  border-right: 6px solid white;
  border-bottom: 6px solid white;
  border-left: 6px solid gray;
}

.boardcontainer {
  display: flex; /* 追加：.boardflame と .topflame を水平に配置するため */
  flex-direction: column; /* 追加：.boardflame と .topflame を縦に配置するため */
  align-items: center;
}

.topflame {
  width: 282px;
  height: 74px;
  margin-bottom: 10px;
  background-color: #c6c6c6;
  border-top: 6px solid gray;
  border-right: 6px solid white;
  border-bottom: 6px solid white;
  border-left: 6px solid gray;
}

.boardoutsideflame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 400px;
  background-color: #c6c6c6;
  border-top: 6px solid white;
  border-right: 6px solid gray;
  border-bottom: 6px solid gray;
  border-left: 6px solid white;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 25%);
}

.cellstyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: solid 1px;
  border-color: gray;
}

/* .stonestyle {
  width: 30px;
  height: 30px;
  border-top: 4px solid white;
  border-right: 4px solid gray;
  border-bottom: 4px solid gray;
  border-left: 4px solid white;
} */

/* #c6c6c6;うすい灰色 */

/* gray;灰色 */

/* width: 252px;
  height: 313.5px; */

/* CSSのorderプロパティを使用して、フレックスアイテムの順序を制御します。
デフォルトでは、orderの値は0ですが、これを負の値に設定することで、
他のフレックスアイテムよりも後ろに移動させることができます。 */
