.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.samplestyle {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.webp') no-repeat;
}

/* .minesweeperboard {
width: 252px;
height: 313.5px;
background-color: blue; */

.boardstyle {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  background-color: #c6c6c6;
}

.cellstyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: solid 1px;
  border-color: gray;
}

/* #c6c6c6;うすい灰色 */

/* gray;灰色 */

/* width: 252px;
  height: 313.5px; */
